/* Navbar Styling */
.nav {
  font-family: var(--font-inter);
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}


.logo {
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  color: #8eef5a;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s linear;
}

/* Main Component Styling */
.main {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  color: #fff;
  text-align: center;
  align-items: center;
}


.heading {
  font-family: var(--font-montserrat);
  font-size: clamp(1.5rem, 2vw + 8px, 2.8rem);
}

.button {
  border: none;
  outline: none;
  padding: 10px 16px;
  font-size: 1rem;
  color: #000;
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px solid limegreen;
}


/* Recipe Wrapper Styling */
.recipeWrapper {
  --column-gap: 2rem;
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--column-gap);
  width: 90%;
  margin: 1rem auto;
  font-family: var(--font-inter);
  flex-wrap: wrap;
  padding: 1rem 0;
}

.recipeComp {
  display: flex;
  text-align: center;
  min-width: 300px;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  gap: 1.5rem;
  padding: 1rem;
  background: radial-gradient(circle, #2a352b , #000000);

}

.recipeComp h2 {
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
}

.recipeComp p {
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  width: 300px;
}

.calories {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}


@media Screen and (min-width: 600px) {
  .recipeWrapper {
    --columns: 2;
  }
}
@media Screen and (min-width: 1000px) {
  .recipeWrapper {
    --columns: 3;
  }
}
@media Screen and (min-width: 1300px) {
  .recipeWrapper {
    --columns: 4;
    --column-gap: 2.5rem;
  }
}

@media (hover:hover) {
  .recipeComp {
    cursor: pointer;
    transition: 0.3s linear;
  }
  .recipeComp:hover {
    position: relative;
    scale: 1.1;
    z-index: 444;
  }
}